In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = pd.read_csv('/content/drive/MyDrive/Data/Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data.shape

(10000, 14)

In [4]:
data.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [5]:
data.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [6]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
data.CreditScore.value_counts(bins=3)

(516.667, 683.333]    5350
(683.333, 850.0]      3741
(349.499, 516.667]     909
Name: CreditScore, dtype: int64

In [9]:
data.Geography.nunique()

3

In [11]:
gender_cat = pd.get_dummies(data['Gender'], drop_first=True)
geography_cat = pd.get_dummies(data['Geography'], drop_first=True)

In [15]:
data = pd.concat([data, gender_cat, geography_cat], axis=1)
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,...,Spain,Male,Germany,Spain,Male,Germany,Spain,Male,Germany,Spain
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,...,0,0,0,0,0,0,0,0,0,0
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,...,1,0,0,1,0,0,1,0,0,1
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,...,0,0,0,0,0,0,0,0,0,0
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,...,0,0,0,0,0,0,0,0,0,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,...,1,0,0,1,0,0,1,0,0,1

In [16]:
data.drop(columns=['RowNumber','CustomerId','Surname','Geography','Gender'],axis=1, inplace=True)
data.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Male,...,Spain,Male,Germany,Spain,Male,Germany,Spain,Male,Germany,Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,...,0,0,0,0,0,0,0,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,...,1,0,0,1,0,0,1,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,...,0,0,0,0,0,0,0,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,...,0,0,0,0,0,0,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,...,1,0,0,1,0,0,1,0,0,1

In [18]:
y = data['Exited']
x = data.drop(['Exited'], axis=1)

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0, shuffle=False)

x_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Male,Germany,Spain,Male,Germany,Spain,Male,Germany,Spain,Male,Germany,Spain
0,619,42,2,0.00,1,1,1,101348.88,0,0,0,0,0,0,0,0,0,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0,0,1,0,0,1,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0,0,0,0,0,0,0,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0,0,0,0,0,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,633,32,1,104001.38,1,0,1,36642.65,0,0,0,0,0,0,0,0,0,0,0,0
6996,623,50,2,87116.71,1,1,1,104382.11,0,0,1,0,0,1,0,0,1,0,0,1
6997,611,68,5,82547.11,2,1,1,146448.01,1,0,0,1,0,0,1,0,0,1,0,0
6998,666,47,5,0.00,1,0,0,166650.90,0,0,1,0,0,1,0,0,1,0,0,1
6999,521,27,4,121325.84,1,1,1,164223.70,1,0,0,1,0,0,1,0,0,1,0,0

In [19]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

x_train[['Age',"Tenure" , 'Balance' , 'CreditScore' , "EstimatedSalary" , 'NumOfProducts']] = ss.fit_transform(
    x_train[['Age',"Tenure" , 'Balance' , 'CreditScore' , "EstimatedSalary" , 'NumOfProducts']])
x_test[['Age',"Tenure" , 'Balance' , 'CreditScore' , "EstimatedSalary" , 'NumOfProducts']] = ss.fit_transform(
    x_test[['Age',"Tenure" , 'Balance' , 'CreditScore' , "EstimatedSalary" , 'NumOfProducts']])

In [21]:
x_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Male,Germany,Spain,Male,Germany,Spain,Male,Germany,Spain,Male,Germany,Spain
0,-0.317263,0.296927,-1.042598,-1.225532,-0.902221,1,1,0.012457,0,0,0,0,0,0,0,0,0,0,0,0
1,-0.430619,0.201369,-1.388943,0.117566,-0.902221,0,1,0.206808,0,0,1,0,0,1,0,0,1,0,0,1
2,-1.522960,0.296927,1.035473,1.333179,2.528278,1,0,0.230924,0,0,0,0,0,0,0,0,0,0,0,0
3,0.507145,0.010252,-1.388943,-1.225532,0.813028,0,0,-0.118148,0,0,0,0,0,0,0,0,0,0,0,0
4,2.063215,0.392485,-1.042598,0.785894,-0.902221,1,1,-0.374115,0,0,1,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,-0.172992,-0.658656,-1.388943,0.441185,-0.902221,0,1,-1.111006,0,0,0,0,0,0,0,0,0,0,0,0
6996,-0.276043,1.061393,-1.042598,0.170593,-0.902221,1,1,0.065122,0,0,1,0,0,1,0,0,1,0,0,1
6997,-0.399704,2.781443,-0.003562,0.097361,0.813028,1,1,0.795491,1,0,0,1,0,0,1,0,0,1,0,0
6998,0.167077,0.774719,-0.003562,-1.225532,-0.902221,0,0,1.146264,0,0,1,0,0,1,0,0,1,0,0,1
6999,-1.327163,-1.136448,-0.349907,0.718826,-0.902221,1,1,1.104122,1,0,0,1,0,0,1,0,0,1,0,0

In [45]:
from tensorflow import keras
from keras import layers, Sequential
from keras.layers import Dense

We can piece it all together by adding each layer:

*   The model expects sample of data with 11 features mentioned in the input_dim = 11 argument

*   The first and the second hidden layer comprises of 8 nodes and uses the relu activation function.
*   The output layer has 1 node and uses sigmoid activation function.

Choosing number of nuerons for each hidden layer is intutive Using too many neurons in the hidden layers may result in overfitting.

  Few rules of thumb that one can consider for determining acceptable number of nuerons to use in the hidden layer -


*   No. of hidden nuerons should be between the size of input layer and size of the output layer.

*   No. of hidden layer neurons should be 2/3 the size of the input layer , plus the size of the output layer.

*   No. of hidden nuerons should be less than twice the size of the input layer

These three rules can give you a good start and it can eventually come down to intutive reasoning of trial and error in selecting the no. of neurons.

In [43]:
model=keras.Sequential([
layers.Dense(10,activation='relu',input_dim=x_train.shape[1]),
layers.Dense(10,activation='relu'),
layers.Dense(10,activation='relu'),
layers.Dense(10,activation='relu'),
layers.Dense(10,activation='relu'),
layers.Dense(1,activation='sigmoid')
])

In [47]:
model.compile(
	loss=keras.losses.BinaryCrossentropy(from_logits=False),
	optimizer=keras.optimizers.Adam(learning_rate=0.001),
	metrics=['accuracy']
	)

model.fit(x_train, y_train,batch_size=128 ,epochs=100,verbose=1)

Epoch 1/100
55/55 [==============================] - 1s 2ms/step - loss: 0.6555 - accuracy: 0.7266
Epoch 2/100
55/55 [==============================] - 0s 2ms/step - loss: 0.5242 - accuracy: 0.7939
Epoch 3/100
55/55 [==============================] - 0s 2ms/step - loss: 0.4758 - accuracy: 0.7939
Epoch 4/100
55/55 [==============================] - 0s 2ms/step - loss: 0.4436 - accuracy: 0.7936
Epoch 5/100
55/55 [==============================] - 0s 2ms/step - loss: 0.4251 - accuracy: 0.8019
Epoch 6/100
55/55 [==============================] - 0s 2ms/step - loss: 0.4130 - accuracy: 0.8193
Epoch 7/100
55/55 [==============================] - 0s 2ms/step - loss: 0.4021 - accuracy: 0.8236
Epoch 8/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3916 - accuracy: 0.8304
Epoch 9/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3800 - accuracy: 0.8397
Epoch 10/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3697 - accuracy: 0.8469
Epoch 11/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3608 - accuracy: 0.8486
Epoch 12/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3558 - accuracy: 0.8504
Epoch 13/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3521 - accuracy: 0.8551
Epoch 14/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8557
Epoch 15/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3488 - accuracy: 0.8560
Epoch 16/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3455 - accuracy: 0.8584
Epoch 17/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3444 - accuracy: 0.8581
Epoch 18/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8587
Epoch 19/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3432 - accuracy: 0.8593
Epoch 20/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3424 - accuracy: 0.8589
Epoch 21/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8603
Epoch 22/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8603
Epoch 23/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8609
Epoch 24/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8620
Epoch 25/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3379 - accuracy: 0.8633
Epoch 26/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3375 - accuracy: 0.8623
Epoch 27/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8644
Epoch 28/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8633
Epoch 29/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8634
Epoch 30/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8626
Epoch 31/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8631
Epoch 32/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8649
Epoch 33/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8640
Epoch 34/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8663
Epoch 35/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8660
Epoch 36/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3312 - accuracy: 0.8680
Epoch 37/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8643
Epoch 38/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3304 - accuracy: 0.8649
Epoch 39/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3297 - accuracy: 0.8651
Epoch 40/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3293 - accuracy: 0.8659
Epoch 41/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3290 - accuracy: 0.8650
Epoch 42/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3309 - accuracy: 0.8649
Epoch 43/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3283 - accuracy: 0.8683
Epoch 44/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3277 - accuracy: 0.8684
Epoch 45/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3268 - accuracy: 0.8669
Epoch 46/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3269 - accuracy: 0.8651
Epoch 47/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3270 - accuracy: 0.8654
Epoch 48/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3255 - accuracy: 0.8664
Epoch 49/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3261 - accuracy: 0.8677
Epoch 50/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3251 - accuracy: 0.8687
Epoch 51/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3251 - accuracy: 0.8689
Epoch 52/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3244 - accuracy: 0.8697
Epoch 53/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3252 - accuracy: 0.8666
Epoch 54/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3239 - accuracy: 0.8680
Epoch 55/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3240 - accuracy: 0.8676
Epoch 56/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3234 - accuracy: 0.8663
Epoch 57/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3249 - accuracy: 0.8680
Epoch 58/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3230 - accuracy: 0.8670
Epoch 59/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3230 - accuracy: 0.8694
Epoch 60/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3239 - accuracy: 0.8669
Epoch 61/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3222 - accuracy: 0.8691
Epoch 62/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3232 - accuracy: 0.8679
Epoch 63/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3228 - accuracy: 0.8691
Epoch 64/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3214 - accuracy: 0.8674
Epoch 65/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3221 - accuracy: 0.8689
Epoch 66/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3223 - accuracy: 0.8693
Epoch 67/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3216 - accuracy: 0.8701
Epoch 68/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3212 - accuracy: 0.8709
Epoch 69/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3208 - accuracy: 0.8700
Epoch 70/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3206 - accuracy: 0.8700
Epoch 71/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3208 - accuracy: 0.8706
Epoch 72/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3215 - accuracy: 0.8696
Epoch 73/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3204 - accuracy: 0.8696
Epoch 74/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3213 - accuracy: 0.8689
Epoch 75/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3195 - accuracy: 0.8701
Epoch 76/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3188 - accuracy: 0.8697
Epoch 77/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3196 - accuracy: 0.8711
Epoch 78/100
55/55 [==============================] - 0s 3ms/step - loss: 0.3190 - accuracy: 0.8709
Epoch 79/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3190 - accuracy: 0.8711
Epoch 80/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3186 - accuracy: 0.8710
Epoch 81/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3187 - accuracy: 0.8689
Epoch 82/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3187 - accuracy: 0.8710
Epoch 83/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3184 - accuracy: 0.8707
Epoch 84/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3191 - accuracy: 0.8696
Epoch 85/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3183 - accuracy: 0.8709
Epoch 86/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3185 - accuracy: 0.8710
Epoch 87/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3177 - accuracy: 0.8731
Epoch 88/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3174 - accuracy: 0.8724
Epoch 89/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3191 - accuracy: 0.8717
Epoch 90/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3175 - accuracy: 0.8709
Epoch 91/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3167 - accuracy: 0.8727
Epoch 92/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3177 - accuracy: 0.8699
Epoch 93/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3190 - accuracy: 0.8694
Epoch 94/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3181 - accuracy: 0.8717
Epoch 95/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3175 - accuracy: 0.8730
Epoch 96/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3167 - accuracy: 0.8694
Epoch 97/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3183 - accuracy: 0.8706
Epoch 98/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3171 - accuracy: 0.8696
Epoch 99/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3161 - accuracy: 0.8717
Epoch 100/100
55/55 [==============================] - 0s 2ms/step - loss: 0.3160 - accuracy: 0.8727

In [48]:
# Predicting on train data
y_pred = model.predict(x_train)
score, acc = model.evaluate(x_train, y_train, batch_size=10)
print('Train score: ', score)
print('Train accuracy: ', acc*100)

700/700 [==============================] - 1s 1ms/step - loss: 0.3141 - accuracy: 0.8739
Train score:  0.3140501081943512
Train accuracy:  87.38571405410767

In [49]:
# Predicting on test data
y_pred = model.predict(x_test)
score, acc = model.evaluate(x_test, y_test,batch_size=10)
print('Test score:', score)
print('Test accuracy:', acc*100)

300/300 [==============================] - 0s 1ms/step - loss: 0.3428 - accuracy: 0.8580
Test score: 0.34275174140930176
Test accuracy: 85.79999804496765

In [50]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_absolute_error

y_pred = model.predict(x_test)
y_pred = (y_pred > 0.5)
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy = (cm[0][0]+cm[1][1])/(cm[0][0]+cm[1][1]
                               +cm[0][1]+cm[1][0])
print("Confusion matrix accuracy: "+ str(accuracy*100)+ "%")

# F1 score
recall = (cm[0][0])/(cm[0][0]+cm[0][1])
precision = (cm[0][0])/(cm[0][0]+cm[1][0])
F1 = (2*recall*precision)/(recall+precision)
print("F1 score: "+str(F1))

# MAE
mae = mean_absolute_error(y_test, y_pred)
print("MAE: "+str(mae))

[[2282  124]
 [ 302  292]]
Confusion matrix accuracy: 85.8%
F1 score: 0.9146292585170341
MAE: 0.142